:root {
  
  /* Measurements */

  --board-size: 8;
  --cell-size: 80px;
  --label-font-size: 20px;
  --label-number-position-left: -3rem;
  --label-alphabet-position-bottom: -2.5rem;
  
  /* Colors */
  --border:0.01rem solid rgb(0, 0, 0);
  --black-cell-color: #b6b6b6;
  --white-cell-color: rgb(219, 219, 219);
  --selected-cell-border: 0.1rem solid #63ff8c;
  --selected-cell-color: #63ff8c;
  --canplace-cell-color: #fcff48;
  --canattack-cell-color: #ff000095;
  --checked-cell-color: #ff0000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
}

a {
  text-decoration: none;
  color: #0af;
}

@media screen and (max-width: 800px) {
  :root {
    --cell-size: 60px;
  }
  
}

@media screen and (max-width: 530px) {
  :root {
    --cell-size: 40px;
    --label-font-size: 1rem;
  }
  
}

@media screen and (max-width: 430px) {
  :root {
    --cell-size: 40px;
    --label-font-size: .4rem;

    --label-number-position-left: -2rem;
    --label-alphabet-position-bottom: -1rem;

  }
  
}