.room-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.room {
    list-style: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
}

.room h2 {
    margin-top: 0;
}

.room ul {
    list-style: none;
    padding: 0;
}

.room ul li {
    margin-bottom: 5px;
}

.join-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #45a049;
}
