.Cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    width: var(--cell-size);
    height: var(--cell-size);
    position: relative;
}

.Row:nth-child(odd) .Cell:nth-child(even) {
    background-color: var(--black-cell-color);
}

.Row:nth-child(even) .Cell:nth-child(odd) {
    background-color: var(--black-cell-color);
}

.Cell:has(img.selected) {
    background-color: #48ff82f5 !important;
}

.Cell.canplace {
    background-color: #00ff4420 !important;
}

.Cell.canplace.canattack {
    background-color: #ff000023 !important;
}

.Cell img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
}