:root {
  --board-size: 8;
  --cell-size: 80px; /* change if you want */

  --label-font-size: 20px;

  --black-cell-color: #b6b6b6;
  --white-cell-color: rgb(219, 219, 219);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(242, 245, 227);
}

@media screen and (max-width: 800px) {
  :root {
    --cell-size: 60px;
  }
  
}

@media screen and (max-width: 530px) {
  :root {
    --cell-size: 40px;
    --label-font-size: 16px;
  }
  
}

@media screen and (max-width: 430px) {
  :root {
    --cell-size: 30px;
    --label-font-size: 12px;
  }
  
}